@{
    Layout = null;
    String mensajeError = ViewBag.mensajeError;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="~/Content/estilos.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery 3 -->
    <script src="/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">

</head>
<body >

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6"   style="padding: 5px">
                <a href="#" data-toggle='modal' data-target='#modal-test'>
                    Test <img src="~/Content/imagenes/acercade.png" style="width: 30px; height: 30px" alt="Test" />
                </a>
                

            </div>
            <div class="col-xs-6 col-md-6" align="right" style="padding: 5px">
                <a href="#" data-toggle='modal' data-target='#acercaDe'>
                    Acerca de <img src="~/Content/imagenes/acercade.png" style="width: 30px; height: 30px" alt="Acerca de" />
                </a>

               

            </div>
        </div>
        <div class="row ">

            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4  col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-offset-4">

                <div class="panelBorder ">
                    <div style="border-radius: 4px 4px 4px 4px;" class="colorPrimario">
                        <br>
                        <center><img src="~/Content/imagenes/logocecar.png" alt="logo CECAR"></center>
                        <br>

                    </div>
                    @using (Html.BeginForm("Login", "Inicio", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)


                        <br />
                        if (mensajeError != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>¡Error!</strong> @mensajeError
                            </div>

                        }
                        <div class="input-group input-group-lg ">
                            <div class="input-group-addon"><span class=" fa fa-user ">  </span></div>
                            <input id="id" name="id" type="number" class="form-control" placeholder="Usuario *">
                        </div>
                        <div style="height:  10px"></div>
                        <div class="input-group input-group-lg">
                            <div class="input-group-addon"><span class=" fa fa-lock">  </span></div>
                            <input name="contrasena" type="password" class="form-control" placeholder="Contraseña *">
                        </div>
                        <div style="height:  10px"></div>
                        <input class="btn btn-lg btn-block btn-success" type="submit" name="login" value="INICIAR SESIÓN" />
                    }

                    <center><a id="enviar" href="#" class="text-center new-account"> Olvidaste tu Contraseña? </a></center>

                </div>
                <div align="center"><h1 style="font-size: 14px; color: #1C8A36; "><strong> SISTEMA INTEGRAL DE MONITORIA ACADÉMICA</strong></h1></div>

            </div>

        </div>

    </div>
    
    <div class="modal fade panelborder  " id="modal-test">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-green  ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Inicio sesión</h3>
                </div>
                <div class="modal-body">
                    <div class="panelBorder ">
                        <div id="alert_1"></div>
                        @using (Html.BeginForm("Login_test", "Inicio", FormMethod.Post, new { id="ftest" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="input-group input-group-lg ">
                                <div class="input-group-addon"><span class=" fa fa-user ">  </span></div>
                                <input id="id" name="id" type="number" required class="form-control" placeholder="Usuario *">
                            </div>
                            <br />
                            <div class="text-right">
                                <input id="enviar_test" class="btn btn-success" value="Iniciar sesión" type="submit" />
                            </div>

                        }
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    
   
    <script src="/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/helper.js"></script>


    <script>
        $(document).ready(function () {
            

            $("#ftest").submit(function (e) {

                e.preventDefault();
                
                var datos = $("#ftest").serializeArray();
                    var btn = $("#enviar_test");

                    btn.val("Comprobando...");
                    btn.prop("disabled", true);
                    $.ajax({
                        data: datos,
                        url: $("#ftest").attr('action'),
                        dataType: "json",
                        type: 'post',
                        beforeSend: function () { },
                        success: function (response) {

                            
                            var mensaje = "";
                            var clase = "";
                           
                            if (response["RESPUESTA"] == "OK") {
                                location.href = "/Test/Tests_responder";
                                mensaje = "<strong>¡Exito!</strong> Sesión iniciada.<br>En breve será redireccionado.";
                                clase = "alert-success";

                            } else if (response["RESPUESTA"] == "ERROR") {
                                mensaje = "<strong>¡Error!</strong> " + response["MENSAJE"];
                                clase = "alert-danger";
                            }
                            
                            //alert_mensajes() esta en helper.js
                            $("#alert_1").html(alert_mensajes(mensaje, clase));
                            // se activa el boton enviar
                            btn.val("Iniciar sesión");
                            btn.prop("disabled", false);


                        }, error: function (error) {
                            alert("Error");
                            btn.val("Iniciar sesión");
                            btn.prop("disabled", false);
                        }
                    });
                
            });
        });
    </script>

</body>
</html>
