@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" background-color: #3f7c10">

        <a class="navbar-brand" href="#"> Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container">
        <div class="panel card" >
            <div class="panel-heading">
                <h2 class="panel-title">MENÚ</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class=" col-xs-12 col-sm-6 col-md-3  " style=" padding: 5px">
                        <a href="~/Clase/Create" class="btn btn-block btn-lg btn-warning" data-target="#mymodal">
                            <i class="fa fa-check-square-o" id="icone_grande"></i> <br><br>
                            <span class="texto_grande"><i class="fa fa-plus-circle"></i> Asistencia</span>
                        </a>
                    </div>


                    <div class=" col-xs-12 col-sm-6 col-md-3  " style=" padding: 5px">
                        <a href="AsignarHorarios.php" class="btn btn-block btn-lg btn-primary" data-target="#mymodal">
                            <i class="fa fa-calendar " id="icone_grande"></i> <br><br>
                            <span class="texto_grande"><i class="fa fa-check-square-o"></i> Horario</span>
                        </a>
                    </div>

                    <div class=" col-xs-12 col-sm-6 col-md-3 " style=" padding: 5px">
                        <a href="clasesRealizadaMonitor.php" class="btn btn-block btn-lg btn-danger" data-target="#mymodal">
                            <i class="fa fa-list-alt" id="icone_grande"></i> <br><br>
                            <span class="texto_grande"><i class="fa fa-ey"></i> Clases Realizadas</span>
                        </a>
                    </div>

                    <div class=" col-xs-12 col-sm-6 col-md-3 " style=" padding: 5px">
                        <a href="confiMinitor.php" class="btn btn-block btn-lg btn-info" data-target="#mymodal">
                            <i class="fa fa-cogs " id="icone_grande"></i> <br><br>
                            <span class="texto_grande"><i class="fa  fa-cog "></i> Configurar</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
