USE [master]
GO
/****** Object:  Database [bd_sima]    Script Date: 27/02/2018 8:31:45 ******/
CREATE DATABASE [bd_sima]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_sima', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\bd_sima.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bd_sima_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\bd_sima_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_sima].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_sima]
GO
/****** Object:  Table [dbo].[capacitaciones]    Script Date: 27/02/2018 8:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[capacitaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[encargado] [varchar](80) NOT NULL,
	[tema] [varchar](200) NOT NULL,
	[comentarios] [varchar](400) NULL DEFAULT (NULL),
	[fecha] [date] NOT NULL,
	[nom_File] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[clases_sima]    Script Date: 27/02/2018 8:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clases_sima](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_registro] [date] NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[tema] [varchar](200) NOT NULL,
	[comentario] [varchar](400) NULL DEFAULT (NULL),
	[cursos_id] [int] NOT NULL,
	[usuarios_id] [varchar](12) NOT NULL,
	[evidencia] [varchar](40) NOT NULL,
	[fecha_realizada] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[configuraciones]    Script Date: 27/02/2018 8:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configuraciones](
	[periodo_actual] [nchar](6) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cursos]    Script Date: 27/02/2018 8:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cursos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[nombre_materia] [varchar](90) NOT NULL,
	[estado] [tinyint] NOT NULL,
	[fecha_finalizacion] [date] NOT NULL,
	[idUsuario] [varchar](12) NOT NULL,
	[eliminado] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estudiantes_asistentes]    Script Date: 27/02/2018 8:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estudiantes_asistentes](
	[estudiante_id] [varchar](12) NOT NULL,
	[clase_id] [int] NOT NULL,
 CONSTRAINT [PK_estudiantes_asistentes] PRIMARY KEY CLUSTERED 
(
	[estudiante_id] ASC,
	[clase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[grupos_acargo]    Script Date: 27/02/2018 8:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[grupos_acargo](
	[idUsuario] [varchar](12) NOT NULL,
	[materia] [varchar](90) NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[id_grupo] [varchar](10) NOT NULL,
	[id_curso] [int] NOT NULL,
	[programa] [varchar](100) NOT NULL,
 CONSTRAINT [PK_grupos_acargo] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[materia] ASC,
	[periodo] ASC,
	[id_grupo] ASC,
	[id_curso] ASC,
	[programa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[materias]    Script Date: 27/02/2018 8:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[materias](
	[nombre] [varchar](90) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 27/02/2018 8:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [varchar](12) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](60) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[celular] [varchar](12) NULL DEFAULT (NULL),
	[tipo] [varchar](15) NULL DEFAULT (NULL),
	[contrasena] [varchar](100) NOT NULL,
	[fecha_registro] [date] NOT NULL,
	[eliminado] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[capacitaciones] ON 

INSERT [dbo].[capacitaciones] ([id], [periodo], [encargado], [tema], [comentarios], [fecha], [nom_File]) VALUES (2, N'2017-2', N'Reunión con monitores académicas', N'Reunión de Monitores académicos (Socialización de funciones del monitor académico, deberes, presentación de profesionales TAE, cualificación en Sistema Integral de monitorías académica- SIMA)', N'', CAST(N'2017-08-01' AS Date), N'')
INSERT [dbo].[capacitaciones] ([id], [periodo], [encargado], [tema], [comentarios], [fecha], [nom_File]) VALUES (3, N'2017-2', N'Coordinación TAE', N'Capacitación en estrategias de enseñanza -aprendizaje, software SIMA y plataforma MOODLE', N'La capacitación fue realizada por Ivan Barbosa (asistente de virtualidad), Fredys Vergara (Creador de SIMA) y Amanda verbel (Directora de gestión académica)', CAST(N'2017-08-18' AS Date), N'evid_.pdf')
SET IDENTITY_INSERT [dbo].[capacitaciones] OFF
SET IDENTITY_INSERT [dbo].[clases_sima] ON 

INSERT [dbo].[clases_sima] ([id], [fecha_registro], [periodo], [tema], [comentario], [cursos_id], [usuarios_id], [evidencia], [fecha_realizada]) VALUES (9, CAST(N'2017-08-10' AS Date), N'2017-2', N'Desarrollo urbano de ciudades', N'En la clase del día de hoy se realizó la socialización de distintas exposiciones sobre ciudades en el mundo y su historia en cuanto a su organización urbana, fue mi primera clase como monitoria en est', 64, N'1102887140', N'evid_9.jpeg', CAST(N'2017-08-10' AS Date))
INSERT [dbo].[clases_sima] ([id], [fecha_registro], [periodo], [tema], [comentario], [cursos_id], [usuarios_id], [evidencia], [fecha_realizada]) VALUES (10, CAST(N'2017-08-14' AS Date), N'2017-2', N'Visita al polígono de estudio Parque La Ford - Parque Mochila', N'Hoy nos reunimos a las 8 am con 10 estudiantes del grupo 2 de Diseño III en el parque La Ford con el motivo de que el profesor Guillermo explicara todo lo que se va a analizar en el polígono de tal lu', 64, N'1102887140', N'evid_10.jpg', CAST(N'2017-08-14' AS Date))
INSERT [dbo].[clases_sima] ([id], [fecha_registro], [periodo], [tema], [comentario], [cursos_id], [usuarios_id], [evidencia], [fecha_realizada]) VALUES (11, CAST(N'2017-08-15' AS Date), N'2017-2', N'Propiedades de la potenciacion y radiación ', N'', 84, N'1096223217', N'evid_11.jpg', CAST(N'2017-08-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[clases_sima] OFF
SET IDENTITY_INSERT [dbo].[cursos] ON 

INSERT [dbo].[cursos] ([id], [periodo], [nombre_materia], [estado], [fecha_finalizacion], [idUsuario], [eliminado]) VALUES (61, N'2017-2', N'DISENO Y METODOLOGIA II', 0, CAST(N'2017-12-10' AS Date), N'1066185095', NULL)
INSERT [dbo].[cursos] ([id], [periodo], [nombre_materia], [estado], [fecha_finalizacion], [idUsuario], [eliminado]) VALUES (62, N'2017-2', N'DISENO Y METODOLOGIA II', 0, CAST(N'2017-12-10' AS Date), N'1102878542', NULL)
INSERT [dbo].[cursos] ([id], [periodo], [nombre_materia], [estado], [fecha_finalizacion], [idUsuario], [eliminado]) VALUES (63, N'2017-2', N'DISENO Y METODOLOGIA I', 0, CAST(N'2017-12-10' AS Date), N'1102876420', NULL)
SET IDENTITY_INSERT [dbo].[cursos] OFF
INSERT [dbo].[estudiantes_asistentes] ([estudiante_id], [clase_id]) VALUES (N'00011203884', 141)
INSERT [dbo].[estudiantes_asistentes] ([estudiante_id], [clase_id]) VALUES (N'00011203884', 194)
INSERT [dbo].[estudiantes_asistentes] ([estudiante_id], [clase_id]) VALUES (N'00011405479', 109)
GO
INSERT [dbo].[grupos_acargo] ([idUsuario], [materia], [periodo], [id_grupo], [id_curso], [programa]) VALUES (N'1005575218', N'CALCULO II', N'2017-2', N'1', 107, N'INGENIERIA DE SISTEMAS')
INSERT [dbo].[grupos_acargo] ([idUsuario], [materia], [periodo], [id_grupo], [id_curso], [programa]) VALUES (N'1005575218', N'CALCULO II', N'2017-2', N'1', 107, N'INGENIERIA INDUSTRIAL')
INSERT [dbo].[materias] ([nombre]) VALUES (N'ACCIONES CONSTITUCIONALES')
INSERT [dbo].[materias] ([nombre]) VALUES (N'ACTIVIDAD FISICA EN DISCAPACIDAD')
INSERT [dbo].[materias] ([nombre]) VALUES (N'ACTIVIDAD FISICA Y REHABILITACION')
GO
INSERT [dbo].[usuarios] ([id], [nombre], [apellidos], [correo], [celular], [tipo], [contrasena], [fecha_registro], [eliminado]) VALUES (N'1005575218', N'OSNAIDER ', N'DIAZ BAQUERO', N'OSNAIDER.DIAZ@CECAR.EDU.CO', N'123', N'Administrador', N'QwBlAGMAYQByADEAMgAzAA==', CAST(N'2017-08-17' AS Date), NULL)
INSERT [dbo].[usuarios] ([id], [nombre], [apellidos], [correo], [celular], [tipo], [contrasena], [fecha_registro], [eliminado]) VALUES (N'1005675603', N'DANIELA ROSA', N'PEREZ OSORIO', N'DANIELA.PEREZO@CECAR.EDU.CO', N'', N'Monitor', N'$2y$10$Lit9FH1kg7MGZfuQIsh3yeZSM3quXx2/2D.puT.eYhWKoxpkFqSwy', CAST(N'2018-02-21' AS Date), NULL)
INSERT [dbo].[usuarios] ([id], [nombre], [apellidos], [correo], [celular], [tipo], [contrasena], [fecha_registro], [eliminado]) VALUES (N'1007621090', N'MIRIAM ISABEL', N'PAZ ROJAS', N'MIRIAM.PAZ@CECAR.EDU.CO', N'3234655811', N'Monitor', N'$2y$10$4V/ZwxISbxF86vRUosCGRea/ZOKvVFq8sPbhNwwXW499y9ZlrIGE2', CAST(N'2017-07-28' AS Date), NULL)
ALTER TABLE [dbo].[clases_sima]  WITH CHECK ADD  CONSTRAINT [FK_clases_sima_cursos] FOREIGN KEY([cursos_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[clases_sima] CHECK CONSTRAINT [FK_clases_sima_cursos]
GO
ALTER TABLE [dbo].[clases_sima]  WITH CHECK ADD  CONSTRAINT [FK_clases_sima_usuarios] FOREIGN KEY([usuarios_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[clases_sima] CHECK CONSTRAINT [FK_clases_sima_usuarios]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [FK_cursos_materias] FOREIGN KEY([nombre_materia])
REFERENCES [dbo].[materias] ([nombre])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [FK_cursos_materias]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [FK_cursos_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [FK_cursos_usuarios]
GO
ALTER TABLE [dbo].[estudiantes_asistentes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_asistentes_clases_sima] FOREIGN KEY([clase_id])
REFERENCES [dbo].[clases_sima] ([id])
GO
ALTER TABLE [dbo].[estudiantes_asistentes] CHECK CONSTRAINT [FK_estudiantes_asistentes_clases_sima]
GO
ALTER TABLE [dbo].[grupos_acargo]  WITH CHECK ADD  CONSTRAINT [FK_grupos_acargo_cursos] FOREIGN KEY([id_curso])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[grupos_acargo] CHECK CONSTRAINT [FK_grupos_acargo_cursos]
GO
ALTER TABLE [dbo].[grupos_acargo]  WITH CHECK ADD  CONSTRAINT [FK_grupos_acargo_materias] FOREIGN KEY([materia])
REFERENCES [dbo].[materias] ([nombre])
GO
ALTER TABLE [dbo].[grupos_acargo] CHECK CONSTRAINT [FK_grupos_acargo_materias]
GO
ALTER TABLE [dbo].[grupos_acargo]  WITH CHECK ADD  CONSTRAINT [FK_grupos_acargo_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[grupos_acargo] CHECK CONSTRAINT [FK_grupos_acargo_usuarios]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'grupos_acargo', @level2type=N'COLUMN',@level2name=N'id_grupo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'grupos_acargo', @level2type=N'COLUMN',@level2name=N'programa'
GO
USE [master]
GO
