USE [bd_sima]
GO
/****** Object:  Table [dbo].[configuraciones]    Script Date: 9/02/2018 10:08:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configuraciones](
	[periodo_actual] [nchar](6) NOT NULL
) ON [PRIMARY]

GO
