USE [bd_sima]
GO
/****** Object:  StoredProcedure [dbo].[SP_Cantida_Uasuario_Responden_Test]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta la canidad de usurios que han respondido un test si curso es negativo se consulta el test en general, de lo contrario solo se filtra por el curso
-- =============================================
CREATE  PROCEDURE [dbo].[SP_Cantida_Uasuario_Responden_Test] 	
	@id_curso int, 
	@id_test int
	
AS

BEGIN

	if (@id_curso > 0)
			BEGIN
             SELECT count( DISTINCT( r.id_persona)) as cantidad from (Test as t
			  join  pregunta_test_responder as p on t.id=p.id_test)
               join respuestas as r on p.id=r.id_preguntas_test_respustas
			   join preguntas_test as pt on  p.id_pregunta_test =pt.id
			   where(t.id= @id_test  and r.id_curso= @id_curso)
           END
     else
			BEGIN
                select  count( DISTINCT( r.id_persona)) as cantidad from (Test as t
			  join  pregunta_test_responder as p on t.id=p.id_test)
               join respuestas as r on p.id=r.id_preguntas_test_respustas
			   join preguntas_test as pt on  p.id_pregunta_test =pt.id
			    where(t.id= @id_test)
			END   
END
GO
/****** Object:  StoredProcedure [dbo].[SP_cantidad_asistencia]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 
-- Description:	Consulta la cantidad de asitencia que tiene un estudiante en un periodo
-- =============================================
CREATE PROCEDURE [dbo].[SP_cantidad_asistencia] 	
	@id_estudiante varchar(12),
	@periodo varchar(6)
	
AS
BEGIN
	

	SELECT COUNT(c.id) as cantidad FROM  clases_sima c INNER JOIN  estudiantes_asistentes e on c.id = e.clase_id                         
                         where (c.periodo = @periodo AND e.estudiante_id =@id_estudiante)
	
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_cantidad_asistencia_curso]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 
-- Description:	Consulta la cantidad de asitencia que tiene un estudiante en un periodo
-- =============================================
create PROCEDURE [dbo].[SP_cantidad_asistencia_curso] 	
	@id_estudiante varchar(12),
	@id_curso int
	
AS
BEGIN
	

	SELECT COUNT(c.id) as cantidad FROM  clases_sima c INNER JOIN  estudiantes_asistentes e on c.id = e.clase_id                         
                            where (c.cursos_id=@id_curso and e.estudiante_id=@id_estudiante)
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clase_sima_id]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta una clase
-- =============================================
create  PROCEDURE [dbo].[SP_Clase_sima_id] 	
	@id int
	
AS

BEGIN
	SELECT* FROM	clases_sima
	WHERE id=@id
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clases_Monitor_Periodo]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta solo los datos de las clases de un monitor en un periodo
-- =============================================
CREATE  PROCEDURE [dbo].[SP_Clases_Monitor_Periodo] 	
	
	@id_usuario varchar(12),
	@periodo varchar(12),
	@materia varchar(90)
	
AS

BEGIN
	select * from clases_sima c join cursos cu on c.cursos_id=cu.id 

                         where c.periodo = @periodo AND c.usuarios_id like @id_usuario+'%' and
						  cu.nombre_materia like @materia+'%'
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Cometarios_Preguntas_Abierta_Test]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	Consulta las preguntas de tipo abierta con sus cometarios de un test
-- =============================================
CREATE  PROCEDURE [dbo].[SP_Cometarios_Preguntas_Abierta_Test] 	
	@id_curso int, 
	@id_test int
	
AS

BEGIN

	if (@id_curso > 0)
			BEGIN

             SELECT p.id_pregunta_test,  r.observacion  FROM (Test as t
			  join  pregunta_test_responder as p on t.id=p.id_test)
               join respuestas as r on p.id=r.id_preguntas_test_respustas
			   join preguntas_test as pt on  p.id_pregunta_test =pt.id
			   WHERE(t.id= @id_test  and r.id_curso= @id_curso and pt.tipo='Abierta')
           END
     else
			BEGIN
                SELECT  p.id_pregunta_test,  r.observacion FROM (Test as t
			  join  pregunta_test_responder as p on t.id=p.id_test)
               join respuestas as r on p.id=r.id_preguntas_test_respustas
			   join preguntas_test as pt on  p.id_pregunta_test =pt.id
			    WHERE(t.id= @id_test and pt.tipo='Abierta')
			END   
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ConsultarAsistencia]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		fredys
-- Create date: 20/04/2018
-- Description:	consulta las asistencias de los estudinates en una asignatura en un periodo
-- =============================================
create PROCEDURE [dbo].[SP_ConsultarAsistencia] 	
										@periodo varchar(6),
										@materia varchar(90)
AS
BEGIN
	SELECT	COUNT(e.estudiante_id) as cantidad,
			e.estudiante_id
    FROM	cursos as c, 
			clases_sima as cl, 
			estudiantes_asistentes as e 
	WHERE 
            c.id=cl.cursos_id and cl.id=e.clase_id and  c.periodo =@periodo and  
            c.nombre_materia= @materia GROUP BY e.estudiante_id
END


GO
/****** Object:  StoredProcedure [dbo].[SP_Curso_acargo_activos]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta los cursos que tiene un monitor activos(1) en un periodo
-- =============================================
CREATE  PROCEDURE [dbo].[SP_Curso_acargo_activos] 	
	@periodo varchar(6), 
	@id_monitor varchar(12)
	
AS

BEGIN
	SELECT* FROM	cursos
	WHERE periodo=@periodo and idUsuario = @id_monitor and eliminado=0 and estado=1
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Curso_id]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 
-- Description:	cosulta un curso por el id
-- =============================================


CREATE  PROCEDURE [dbo].[SP_Curso_id] 	
	
	@id int
	
	
AS

BEGIN
SELECT * FROM	cursos
			WHERE id=@id           
	
            
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Curso_materia]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	Esta funcion consulta los grupos exactos de un perido y una meteria
-- =============================================
create  PROCEDURE [dbo].[SP_Curso_materia] 	
	@periodo varchar(6), 
	@materia varchar(90)
	
AS

BEGIN
	SELECT* FROM	cursos
	where (nombre_materia = @materia AND periodo =@periodo AND eliminado = 0)
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Curso_por_materia_periodo_idusuario]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 
-- Description:	Esta funcion consulta el id de un curso a partir de la materia, periodo e id del monito
-- =============================================

CREATE  PROCEDURE [dbo].[SP_Curso_por_materia_periodo_idusuario] 	
	@periodo varchar(6), 
	@id_monitor varchar(12),
	@materia varchar(90)
	
AS

BEGIN
	SELECT top(1) cursos.id  FROM	cursos
	WHERE periodo=@periodo and idUsuario = @id_monitor and nombre_materia=@materia
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Cursos]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta un los grupos que de un periodo q la materia por un nombre 
-- =============================================
create  PROCEDURE [dbo].[SP_Cursos] 	
	@periodo varchar(6), 
	@materia varchar(90)
	
AS

BEGIN
	SELECT* FROM	cursos
	 where (nombre_materia LIKE @materia+'%' AND periodo =periodo AND eliminado=0)
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Cursos_por_clase]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 
-- Description:	Consulta los curso donde el estudiante ha asitido a monitoria, es decir donde tiene una clase registrada 
-- =============================================
CREATE PROCEDURE [dbo].[SP_Cursos_por_clase] 	
	@periodo varchar(6),
	@id_estudiante varchar(12)
	
AS
BEGIN
	

	SELECT Distinct(cu.id) as id, cu.eliminado,cu.estado,cu.fecha_finalizacion,cu.idUsuario,cu.nombre_materia
	,cu.periodo  FROM  clases_sima c
                              join cursos cu on c.cursos_id = cu.id
                              join estudiantes_asistentes e on c.id = e.clase_id

                              where (c.periodo = @periodo and e.estudiante_id = @id_estudiante)
                             
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Dato_monitores_perido]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta los datos de los monitores que tienen curso a acargo en un perido
-- =============================================
CREATE  PROCEDURE [dbo].[SP_Dato_monitores_perido] 	
	@periodo varchar(6)
	
AS

BEGIN
	SELECT Distinct u.id,u.apellidos,u.nombre FROM	usuarios u, cursos c
	WHERE  c.idUsuario=u.id and periodo=@periodo and c.eliminado=0
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Estudiantes_asistentes]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta una los estudiantes que asisten a una clase
-- =============================================
create  PROCEDURE [dbo].[SP_Estudiantes_asistentes] 	
	@clase_id int
	
AS

BEGIN
	SELECT * FROM	estudiantes_asistentes
	WHERE clase_id=@clase_id
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Materia_monitor_cargo]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 
-- Description:	Esta funcion consulta los nombres de las materia que se le a asignado a un monitor en un periodo ,si todo es 0 retorna todas las materias 
-- si todo es 1 solo retorna las materias que el grupo este abierto
-- =============================================


CREATE  PROCEDURE [dbo].[SP_Materia_monitor_cargo] 	
	@periodo varchar(6), 
	@id_monitor varchar(12),
	@todo int
	
	
AS

BEGIN
	if(@todo=0)
		BEGIN
			SELECT  nombre_materia  FROM	cursos
			WHERE periodo=@periodo and idUsuario = @id_monitor and estado=1 and eliminado=0
            
		END
	else
		  BEGIN
			SELECT  nombre_materia  FROM	cursos
			WHERE periodo=@periodo and idUsuario = @id_monitor and eliminado=0
            
		END
            
END

GO
/****** Object:  StoredProcedure [dbo].[SP_materioa_por_id_curso]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta una los estudiantes que asisten a una clase
-- =============================================
create  PROCEDURE [dbo].[SP_materioa_por_id_curso] 	
	@curso_id int
	
AS

BEGIN
	SELECT cursos.nombre_materia FROM	cursos
	WHERE id=@curso_id
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Monitores]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 
-- Description:	consulta los datos de los monitores por el nombre o id
-- =============================================
CREATE PROCEDURE [dbo].[SP_Monitores] 	
	@filtro varchar(100),
	@tipo varchar(15)
	
AS
BEGIN
	SELECT TOP(20)	* FROM	usuarios
	WHERE  (((CONCAT(nombre,'',apellidos) LIKE '%'+@filtro+'%') OR  (CONCAT(apellidos,'',nombre) LIKE '%'+@filtro+'%') 
	OR  (nombre LIKE @filtro+'%') OR  (apellidos LIKE @filtro+'%') OR  (id LIKE @filtro+'%'))
	AND eliminado=0 AND tipo=@tipo)
	
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Pregunta_Puntos_Total]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergar
-- Create date: 
-- Description:	Se consulta las preguntas de un test con los puntos obtenidos por los votantes. solo las preguntas de tipo cerrada
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Pregunta_Puntos_Total] 	
	@id_curso int  , 
	@id_test int
	
AS

BEGIN
	if(@id_curso>0)
		BEGIN
			select  p.id_pregunta_test,  SUM(r.punto) as puntos from Test as t, 
                pregunta_test_responder as p, respuestas as r ,preguntas_test as pt 
                where(t.id=p.id_test and p.id = r.id_preguntas_test_respustas and 
                 p.id_pregunta_test =pt.id and t.id= @id_test and r.id_curso= @id_curso and pt.tipo= 'Cerrada' ) 
                GROUP BY  p.id_pregunta_test
		END
		else
		  BEGIN
			select  p.id_pregunta_test,  SUM(r.punto)  as puntos from Test as t, 
                pregunta_test_responder as p, respuestas as r , preguntas_test as pt
                where(t.id=p.id_test and p.id = r.id_preguntas_test_respustas and
                 p.id_pregunta_test =pt.id and t.id= @id_test  and pt.tipo= 'Cerrada' )
                 GROUP BY  p.id_pregunta_test
			
			END
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Pregunta_Test]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	Consulta las preguntas de un test
-- =============================================
CREATE  PROCEDURE [dbo].[SP_Pregunta_Test] 	
	 
	@id_test int
	
AS

BEGIN
SELECT  p.eliminado,p.id,p.Pregunata,p.tipo from Test t join pregunta_test_responder pr on t.id = pr.id_test
                         join preguntas_test p on pr.id_pregunta_test = p.id
                         where (t.id = @id_test )
                         order by (p.tipo) 
        
END
GO
/****** Object:  StoredProcedure [dbo].[SP_preguntas]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta las preguntas registradas que se pueden asignar a un test
-- =============================================
create  PROCEDURE [dbo].[SP_preguntas] 	
	
	@eliminado tinyint
	
AS

BEGIN
	select* from preguntas_test
                where eliminado = @eliminado
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_preguntas_por_id]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta una pregunta por el id
-- =============================================
CREATE  PROCEDURE [dbo].[SP_preguntas_por_id] 	
	
	@id_pregunta int
	
AS

BEGIN
	select * from preguntas_test
                where id = @id_pregunta
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Respondio_test]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergar
-- Create date: 
-- Description:	Consulta  la cantidad de preguntas respondida por un ususrio a test
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Respondio_test] 	
	@id_curso int  , 
	@id_test int,
	@id_usuario varchar(12)
	
AS

BEGIN
	SELECT 1 FROM ((Test t INNER JOIN  pregunta_test_responder p  on t.id = p.id_test )
                            INNER JOIN  respuestas r  on p.id = r.id_preguntas_test_respustas)
	WHERE (t.id =@id_test and r.id_persona=@id_usuario and r.id_curso=@id_curso)    

	
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Test]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	Consulta un tes por el id
-- =============================================
create  PROCEDURE [dbo].[SP_Test] 	
	 
	@id_test int
	
AS

BEGIN
SELECT  *from Test where(id=@id_test) 
        
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Test_periodo]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	consulta los test de un periodo
-- =============================================
CREATE  PROCEDURE [dbo].[SP_Test_periodo] 	
	 
	@periodo varchar(6),
	@estado_cierre tinyint ,
	@eliminado tinyint
	
AS

BEGIN
SELECT  *from Test 
where (periodo LIKE @periodo+'%' and eliminado = @eliminado and estado_cierre = @estado_cierre)
        
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tiene_curso]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	cosulta los curoso que tiene un monitor filtrado por materia y perido y/o estado
-- =============================================
CREATE  PROCEDURE [dbo].[SP_Tiene_curso] 	
	@periodo varchar(6), 
	@materia varchar(90),
	@id_usuario varchar(12)
	
AS

BEGIN
	SELECT* FROM	cursos
	 where (nombre_materia = @materia AND periodo =@periodo AND idUsuario= @id_usuario AND eliminado=0 )
                              OR (nombre_materia =@materia AND  idUsuario =@id_usuario AND estado = 1 AND eliminado = 0)
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tiene_curso_activo]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys Vergara
-- Create date: 25/04/2018
-- Description:	cosulta si un curoso que tiene un monitor activos
-- =============================================
create  PROCEDURE [dbo].[SP_Tiene_curso_activo] 	
	
	@id_usuario varchar(12)
	
AS

BEGIN
	SELECT 1 FROM	cursos
	 where ( idUsuario =@id_usuario AND estado = 1 AND eliminado = 0)
            
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Usuario_id]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys
-- Create date: 
-- Description:	Consulta los datos de un ususrio por el id
-- =============================================
CREATE PROCEDURE [dbo].[SP_Usuario_id] 	
	@id varchar(12)
	
AS
BEGIN
	SELECT * FROM	usuarios
	WHERE id=@id
	
            
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Usuarios]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fredys vergara
-- Create date: 20/04/2018
-- Description:	Consulta los datos de los ususrios filtrados por nombre o  id que no esten eliminado
-- =============================================
CREATE PROCEDURE [dbo].[SP_Usuarios] 	
	@filtro varchar(100)
	
AS
BEGIN
	SELECT TOP(20)	* FROM	usuarios
	WHERE  (((CONCAT(nombre,'',apellidos) LIKE '%'+@filtro+'%') OR  (CONCAT(apellidos,'',nombre) LIKE '%'+@filtro+'%') 
	OR  (nombre LIKE @filtro+'%') OR  (apellidos LIKE @filtro+'%') OR  (id LIKE @filtro+'%'))
	AND eliminado=0)
	
            
END



GO
/****** Object:  StoredProcedure [dbo].[SP_Usuarios_eliminado]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create  PROCEDURE [dbo].[SP_Usuarios_eliminado] 	
	@eliminado tinyint
	
AS

BEGIN
	SELECT* FROM	usuarios
	WHERE eliminado=@eliminado
            
END
GO
/****** Object:  Table [dbo].[Alertas]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alertas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vista] [tinyint] NOT NULL,
	[eliminada] [tinyint] NOT NULL,
	[mensaje] [varchar](300) NOT NULL,
	[tipo_alerta] [varchar](50) NOT NULL,
	[fecha_creada] [datetime] NOT NULL,
	[creador] [varchar](20) NOT NULL,
	[perfil_ver] [varchar](20) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Alertas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[calificaciones_periodo]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[calificaciones_periodo](
	[id_docente] [varchar](12) NOT NULL,
	[corte] [int] NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[asignatura] [varchar](90) NOT NULL,
	[grupo] [nchar](10) NOT NULL,
	[programa] [nchar](90) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[capacitaciones]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[capacitaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[encargado] [varchar](80) NOT NULL,
	[tema] [varchar](200) NOT NULL,
	[comentarios] [varchar](400) NULL,
	[fecha] [date] NOT NULL,
	[nom_File] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[clases_sima]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clases_sima](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_registro] [date] NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[tema] [varchar](200) NOT NULL,
	[comentario] [varchar](400) NULL,
	[cursos_id] [int] NOT NULL,
	[usuarios_id] [varchar](12) NOT NULL,
	[evidencia] [varchar](40) NOT NULL,
	[fecha_realizada] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[configuracion_app]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[configuracion_app](
	[id] [int] NOT NULL,
	[periodo_actual] [varchar](6) NOT NULL,
	[contrasena_defecto_usuario] [varchar](40) NOT NULL,
	[alertas] [tinyint] NOT NULL,
 CONSTRAINT [PK_configuracion_app] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cursos]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cursos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[nombre_materia] [varchar](90) NOT NULL,
	[estado] [tinyint] NOT NULL,
	[fecha_finalizacion] [date] NOT NULL,
	[idUsuario] [varchar](12) NOT NULL,
	[eliminado] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estudiantes_asistentes]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estudiantes_asistentes](
	[estudiante_id] [varchar](12) NOT NULL,
	[clase_id] [int] NOT NULL,
 CONSTRAINT [PK_estudiantes_asistentes] PRIMARY KEY CLUSTERED 
(
	[estudiante_id] ASC,
	[clase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[grupos_acargo]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[grupos_acargo](
	[idUsuario] [varchar](12) NOT NULL,
	[materia] [varchar](90) NOT NULL,
	[periodo] [varchar](6) NOT NULL,
	[id_grupo] [varchar](10) NOT NULL,
	[id_curso] [int] NOT NULL,
	[programa] [varchar](100) NOT NULL,
 CONSTRAINT [PK_grupos_acargo] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[materia] ASC,
	[periodo] ASC,
	[id_grupo] ASC,
	[id_curso] ASC,
	[programa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[materias]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[materias](
	[nombre] [varchar](90) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notas](
	[valor] [float] NOT NULL,
	[id_calificaciones_periodo] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[id_estudiante] [varchar](12) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Notas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pregunta_test_responder]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pregunta_test_responder](
	[id_test] [int] NOT NULL,
	[id_pregunta_test] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_pregunta_test_responder] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[preguntas_test]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[preguntas_test](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Pregunata] [varchar](700) NOT NULL,
	[eliminado] [tinyint] NOT NULL,
	[tipo] [varchar](20) NOT NULL,
 CONSTRAINT [PK_preguntas_test] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[respuestas]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[respuestas](
	[id_preguntas_test_respustas] [int] NOT NULL,
	[id_persona] [varchar](12) NOT NULL,
	[punto] [int] NOT NULL,
	[observacion] [nchar](180) NULL,
	[id_curso] [int] NOT NULL,
 CONSTRAINT [PK_respuestas] PRIMARY KEY CLUSTERED 
(
	[id_preguntas_test_respustas] ASC,
	[id_persona] ASC,
	[id_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Test]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Test](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[ferfil_usuario] [varchar](30) NOT NULL,
	[eliminado] [tinyint] NOT NULL,
	[estado_cierre] [tinyint] NOT NULL,
	[id_usuario_creado] [varchar](12) NOT NULL,
	[periodo] [varchar](7) NOT NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 30/04/2018 4:41:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [varchar](12) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](60) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[celular] [varchar](12) NULL,
	[tipo] [varchar](15) NULL,
	[contrasena] [varchar](100) NOT NULL,
	[fecha_registro] [date] NOT NULL,
	[eliminado] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Alertas] ON 

INSERT [dbo].[Alertas] ([id], [vista], [eliminada], [mensaje], [tipo_alerta], [fecha_creada], [creador], [perfil_ver], [titulo]) VALUES (2, 0, 0, N'prueba mensaje', N'NUEVA NOTA               ', CAST(0x0000A8B00110B2F0 AS DateTime), N'1102232026          ', N'Docente', N'registro de nota')
INSERT [dbo].[Alertas] ([id], [vista], [eliminada], [mensaje], [tipo_alerta], [fecha_creada], [creador], [perfil_ver], [titulo]) VALUES (3, 0, 0, N'prueba mensaje', N'NUEVA NOTA               ', CAST(0x0000A8B00110B2F0 AS DateTime), N'1102232026          ', N'Docente', N'registro de nota')
INSERT [dbo].[Alertas] ([id], [vista], [eliminada], [mensaje], [tipo_alerta], [fecha_creada], [creador], [perfil_ver], [titulo]) VALUES (4, 0, 0, N'prueba mensaje', N'NUEVA NOTA               ', CAST(0x0000A8B00110B2F0 AS DateTime), N'1102232026          ', N'Docente', N'registro de nota')
SET IDENTITY_INSERT [dbo].[Alertas] OFF
SET IDENTITY_INSERT [dbo].[calificaciones_periodo] ON 

INSERT [dbo].[calificaciones_periodo] ([id_docente], [corte], [periodo], [fecha_registro], [asignatura], [grupo], [programa], [id]) VALUES (N'1005575218', 1, N'2018-1', CAST(0x0000A8B1012035C2 AS DateTime), N'MATEMATICA BASICA', N'1         ', N'INGENIERIA DE SISTEMAS                                                                    ', 86)
SET IDENTITY_INSERT [dbo].[calificaciones_periodo] OFF
SET IDENTITY_INSERT [dbo].[capacitaciones] ON 

INSERT [dbo].[capacitaciones] ([id], [periodo], [encargado], [tema], [comentarios], [fecha], [nom_File]) VALUES (2, N'2017-2', N'Reunión con monitores académicas', N'Reunión de Monitores académicos (Socialización de funciones del monitor académico, deberes, presentación de profesionales TAE, cualificación en Sistema Integral de monitorías académica- SIMA)', N'', CAST(0x1D3D0B00 AS Date), N'')
INSERT [dbo].[capacitaciones] ([id], [periodo], [encargado], [tema], [comentarios], [fecha], [nom_File]) VALUES (3, N'2017-2', N'Coordinación TAE', N'Capacitación en estrategias de enseñanza -aprendizaje, software SIMA y plataforma MOODLE', N'La capacitación fue realizada por Ivan Barbosa (asistente de virtualidad), Fredys Vergara (Creador de SIMA) y Amanda verbel (Directora de gestión académica)', CAST(0x2E3D0B00 AS Date), N'evid_.pdf')
INSERT [dbo].[capacitaciones] ([id], [periodo], [encargado], [tema], [comentarios], [fecha], [nom_File]) VALUES (4, N'2018-1', N'fredy', N'gggg', N'iiiii', CAST(0xFD3D0B00 AS Date), N'evid_2018-03-23 10-57-38-99.pdf')
SET IDENTITY_INSERT [dbo].[capacitaciones] OFF
SET IDENTITY_INSERT [dbo].[clases_sima] ON 

INSERT [dbo].[clases_sima] ([id], [fecha_registro], [periodo], [tema], [comentario], [cursos_id], [usuarios_id], [evidencia], [fecha_realizada]) VALUES (9, CAST(0x263D0B00 AS Date), N'2017-2', N'Desarrollo urbano de ciudades', N'En la clase del día de hoy se realizó la socialización de distintas exposiciones sobre ciudades en el mundo y su historia en cuanto a su organización urbana, fue mi primera clase como monitoria en est', 64, N'1102887140', N'evid_9.jpeg', CAST(0x263D0B00 AS Date))
INSERT [dbo].[clases_sima] ([id], [fecha_registro], [periodo], [tema], [comentario], [cursos_id], [usuarios_id], [evidencia], [fecha_realizada]) VALUES (10, CAST(0x2A3D0B00 AS Date), N'2017-2', N'Visita al polígono de estudio Parque La Ford - Parque Mochila', N'Hoy nos reunimos a las 8 am con 10 estudiantes del grupo 2 de Diseño III en el parque La Ford con el motivo de que el profesor Guillermo explicara todo lo que se va a analizar en el polígono de tal lu', 64, N'1102887140', N'evid_10.jpg', CAST(0x2A3D0B00 AS Date))
INSERT [dbo].[clases_sima] ([id], [fecha_registro], [periodo], [tema], [comentario], [cursos_id], [usuarios_id], [evidencia], [fecha_realizada]) VALUES (11, CAST(0x2B3D0B00 AS Date), N'2017-2', N'Propiedades de la potenciacion y radiación ', N'', 84, N'1096223217', N'evid_11.jpg', CAST(0x2B3D0B00 AS Date))
GO
SET IDENTITY_INSERT [dbo].[clases_sima] OFF
INSERT [dbo].[configuracion_app] ([id], [periodo_actual], [contrasena_defecto_usuario], [alertas]) VALUES (1, N'2017-2', N'Cecar123', 1)
SET IDENTITY_INSERT [dbo].[cursos] ON 

INSERT [dbo].[cursos] ([id], [periodo], [nombre_materia], [estado], [fecha_finalizacion], [idUsuario], [eliminado]) VALUES (61, N'2017-2', N'DISENO Y METODOLOGIA II', 0, CAST(0xA03D0B00 AS Date), N'1066185095', 0)
INSERT [dbo].[cursos] ([id], [periodo], [nombre_materia], [estado], [fecha_finalizacion], [idUsuario], [eliminado]) VALUES (62, N'2017-2', N'DISENO Y METODOLOGIA II', 0, CAST(0xA03D0B00 AS Date), N'1102878542', 1)
INSERT [dbo].[cursos] ([id], [periodo], [nombre_materia], [estado], [fecha_finalizacion], [idUsuario], [eliminado]) VALUES (63, N'2017-2', N'DISENO Y METODOLOGIA I', 0, CAST(0xA03D0B00 AS Date), N'1102876420', 1)
SET IDENTITY_INSERT [dbo].[cursos] OFF
INSERT [dbo].[estudiantes_asistentes] ([estudiante_id], [clase_id]) VALUES (N'00011203884', 141)
INSERT [dbo].[estudiantes_asistentes] ([estudiante_id], [clase_id]) VALUES (N'00011203884', 194)
INSERT [dbo].[estudiantes_asistentes] ([estudiante_id], [clase_id]) VALUES (N'00011405479', 109)
GO
INSERT [dbo].[grupos_acargo] ([idUsuario], [materia], [periodo], [id_grupo], [id_curso], [programa]) VALUES (N'1005575218', N'CALCULO II', N'2017-2', N'1', 107, N'INGENIERIA DE SISTEMAS')
INSERT [dbo].[grupos_acargo] ([idUsuario], [materia], [periodo], [id_grupo], [id_curso], [programa]) VALUES (N'1005575218', N'CALCULO II', N'2017-2', N'1', 107, N'INGENIERIA INDUSTRIAL')
INSERT [dbo].[grupos_acargo] ([idUsuario], [materia], [periodo], [id_grupo], [id_curso], [programa]) VALUES (N'1005575218', N'TALLER DE LENGUA I', N'2018-1', N'1', 114, N'ADMINISTRACION DE EMPRESAS')
INSERT [dbo].[materias] ([nombre]) VALUES (N'ACCIONES CONSTITUCIONALES')
INSERT [dbo].[materias] ([nombre]) VALUES (N'ACTIVIDAD FISICA EN DISCAPACIDAD')
INSERT [dbo].[materias] ([nombre]) VALUES (N'ACTIVIDAD FISICA Y REHABILITACION')
GO
SET IDENTITY_INSERT [dbo].[pregunta_test_responder] ON 

INSERT [dbo].[pregunta_test_responder] ([id_test], [id_pregunta_test], [id]) VALUES (1004, 1025, 1022)
INSERT [dbo].[pregunta_test_responder] ([id_test], [id_pregunta_test], [id]) VALUES (1004, 1026, 1023)
INSERT [dbo].[pregunta_test_responder] ([id_test], [id_pregunta_test], [id]) VALUES (1004, 1027, 1024)
SET IDENTITY_INSERT [dbo].[pregunta_test_responder] OFF
SET IDENTITY_INSERT [dbo].[preguntas_test] ON 

INSERT [dbo].[preguntas_test] ([id], [Pregunata], [eliminado], [tipo]) VALUES (1024, N'¿En mi trabajo puedo hacer lo que mejor hago todos los días. ?', 0, N'Cerrada')
INSERT [dbo].[preguntas_test] ([id], [Pregunata], [eliminado], [tipo]) VALUES (1025, N'¿En los últimos siete días he recibido reconocimiento o elogios por hacer un buen trabajo?', 0, N'Cerrada')
INSERT [dbo].[preguntas_test] ([id], [Pregunata], [eliminado], [tipo]) VALUES (1026, N'¿Alguien en el trabajo estimula mi desarrollo??', 0, N'Abierta')
SET IDENTITY_INSERT [dbo].[preguntas_test] OFF
INSERT [dbo].[respuestas] ([id_preguntas_test_respustas], [id_persona], [punto], [observacion], [id_curso]) VALUES (1026, N'1000248961', 2, NULL, 62)
INSERT [dbo].[respuestas] ([id_preguntas_test_respustas], [id_persona], [punto], [observacion], [id_curso]) VALUES (1026, N'1005575218', 6, NULL, 75)
INSERT [dbo].[respuestas] ([id_preguntas_test_respustas], [id_persona], [punto], [observacion], [id_curso]) VALUES (1026, N'1005575218', 3, NULL, 84)
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([id], [fecha_fin], [fecha_inicio], [ferfil_usuario], [eliminado], [estado_cierre], [id_usuario_creado], [periodo]) VALUES (1004, CAST(0x0F3E0B00 AS Date), CAST(0x013E0B00 AS Date), N'Estudiante', 0, 1, N'1007621090', N'2018-1')
INSERT [dbo].[Test] ([id], [fecha_fin], [fecha_inicio], [ferfil_usuario], [eliminado], [estado_cierre], [id_usuario_creado], [periodo]) VALUES (1005, CAST(0x343E0B00 AS Date), CAST(0x1F3E0B00 AS Date), N'Docente', 0, 0, N'1005575218', N'2017-2')
INSERT [dbo].[Test] ([id], [fecha_fin], [fecha_inicio], [ferfil_usuario], [eliminado], [estado_cierre], [id_usuario_creado], [periodo]) VALUES (1006, CAST(0x323E0B00 AS Date), CAST(0x2C3E0B00 AS Date), N'Estudiante', 0, 0, N'1005575218', N'2017-2')
SET IDENTITY_INSERT [dbo].[Test] OFF
INSERT [dbo].[usuarios] ([id], [nombre], [apellidos], [correo], [celular], [tipo], [contrasena], [fecha_registro], [eliminado]) VALUES (N'1005575218', N'OSNAIDER ', N'DIAZ BAQUERO', N'OSNAIDER.DIAZ@CECAR.EDU.CO', N'123', N'Administrador', N'QwBlAGMAYQByADEAMgAzAA==', CAST(0x2D3D0B00 AS Date), 0)
INSERT [dbo].[usuarios] ([id], [nombre], [apellidos], [correo], [celular], [tipo], [contrasena], [fecha_registro], [eliminado]) VALUES (N'1005675603', N'DANIELA ROSA', N'PEREZ OSORIO', N'DANIELA.PEREZO@CECAR.EDU.CO', N'', N'Monitor', N'QwBlAGMAYQByADEAMgAzAA==', CAST(0xE93D0B00 AS Date), 0)
INSERT [dbo].[usuarios] ([id], [nombre], [apellidos], [correo], [celular], [tipo], [contrasena], [fecha_registro], [eliminado]) VALUES (N'1007621090', N'MIRIAM ISABEL', N'PAZ ROJAS', N'MIRIAM.PAZ@CECAR.EDU.CO', N'3234655811', N'Administrador', N'QwBlAGMAYQByADEAMgAzAA==', CAST(0x193D0B00 AS Date), 0)
ALTER TABLE [dbo].[capacitaciones] ADD  DEFAULT (NULL) FOR [comentarios]
GO
ALTER TABLE [dbo].[clases_sima] ADD  DEFAULT (NULL) FOR [comentario]
GO
ALTER TABLE [dbo].[configuracion_app] ADD  DEFAULT ('Cecar123') FOR [contrasena_defecto_usuario]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (NULL) FOR [celular]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (NULL) FOR [tipo]
GO
ALTER TABLE [dbo].[calificaciones_periodo]  WITH CHECK ADD  CONSTRAINT [FK_calificaciones_periodo_materias] FOREIGN KEY([asignatura])
REFERENCES [dbo].[materias] ([nombre])
GO
ALTER TABLE [dbo].[calificaciones_periodo] CHECK CONSTRAINT [FK_calificaciones_periodo_materias]
GO
ALTER TABLE [dbo].[clases_sima]  WITH CHECK ADD  CONSTRAINT [FK_clases_sima_cursos] FOREIGN KEY([cursos_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[clases_sima] CHECK CONSTRAINT [FK_clases_sima_cursos]
GO
ALTER TABLE [dbo].[clases_sima]  WITH CHECK ADD  CONSTRAINT [FK_clases_sima_usuarios] FOREIGN KEY([usuarios_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[clases_sima] CHECK CONSTRAINT [FK_clases_sima_usuarios]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [FK_cursos_materias] FOREIGN KEY([nombre_materia])
REFERENCES [dbo].[materias] ([nombre])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [FK_cursos_materias]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [FK_cursos_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [FK_cursos_usuarios]
GO
ALTER TABLE [dbo].[estudiantes_asistentes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_asistentes_clases_sima] FOREIGN KEY([clase_id])
REFERENCES [dbo].[clases_sima] ([id])
GO
ALTER TABLE [dbo].[estudiantes_asistentes] CHECK CONSTRAINT [FK_estudiantes_asistentes_clases_sima]
GO
ALTER TABLE [dbo].[grupos_acargo]  WITH CHECK ADD  CONSTRAINT [FK_grupos_acargo_materias] FOREIGN KEY([materia])
REFERENCES [dbo].[materias] ([nombre])
GO
ALTER TABLE [dbo].[grupos_acargo] CHECK CONSTRAINT [FK_grupos_acargo_materias]
GO
ALTER TABLE [dbo].[grupos_acargo]  WITH CHECK ADD  CONSTRAINT [FK_grupos_acargo_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[grupos_acargo] CHECK CONSTRAINT [FK_grupos_acargo_usuarios]
GO
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD  CONSTRAINT [FK_Notas_calificaciones_periodo] FOREIGN KEY([id_calificaciones_periodo])
REFERENCES [dbo].[calificaciones_periodo] ([id])
GO
ALTER TABLE [dbo].[Notas] CHECK CONSTRAINT [FK_Notas_calificaciones_periodo]
GO
ALTER TABLE [dbo].[pregunta_test_responder]  WITH CHECK ADD  CONSTRAINT [FK_pregunta_test_responder_preguntas_test] FOREIGN KEY([id_pregunta_test])
REFERENCES [dbo].[preguntas_test] ([id])
GO
ALTER TABLE [dbo].[pregunta_test_responder] CHECK CONSTRAINT [FK_pregunta_test_responder_preguntas_test]
GO
ALTER TABLE [dbo].[pregunta_test_responder]  WITH CHECK ADD  CONSTRAINT [FK_pregunta_test_responder_Test] FOREIGN KEY([id_test])
REFERENCES [dbo].[Test] ([id])
GO
ALTER TABLE [dbo].[pregunta_test_responder] CHECK CONSTRAINT [FK_pregunta_test_responder_Test]
GO
ALTER TABLE [dbo].[respuestas]  WITH CHECK ADD  CONSTRAINT [FK_respuestas_cursos1] FOREIGN KEY([id_curso])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[respuestas] CHECK CONSTRAINT [FK_respuestas_cursos1]
GO
ALTER TABLE [dbo].[respuestas]  WITH CHECK ADD  CONSTRAINT [FK_respuestas_pregunta_test_responder] FOREIGN KEY([id_preguntas_test_respustas])
REFERENCES [dbo].[pregunta_test_responder] ([id])
GO
ALTER TABLE [dbo].[respuestas] CHECK CONSTRAINT [FK_respuestas_pregunta_test_responder]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_usuarios] FOREIGN KEY([id_usuario_creado])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_usuarios]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Alertas', @level2type=N'COLUMN',@level2name=N'mensaje'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Alertas', @level2type=N'COLUMN',@level2name=N'tipo_alerta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Alertas', @level2type=N'COLUMN',@level2name=N'creador'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Alertas', @level2type=N'COLUMN',@level2name=N'perfil_ver'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Alertas', @level2type=N'COLUMN',@level2name=N'titulo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'calificaciones_periodo', @level2type=N'COLUMN',@level2name=N'fecha_registro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'calificaciones_periodo', @level2type=N'COLUMN',@level2name=N'programa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'calificaciones_periodo', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'configuracion_app', @level2type=N'COLUMN',@level2name=N'contrasena_defecto_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'configuracion_app', @level2type=N'COLUMN',@level2name=N'alertas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'grupos_acargo', @level2type=N'COLUMN',@level2name=N'id_grupo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'grupos_acargo', @level2type=N'COLUMN',@level2name=N'programa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notas', @level2type=N'COLUMN',@level2name=N'valor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notas', @level2type=N'COLUMN',@level2name=N'tipo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notas', @level2type=N'COLUMN',@level2name=N'id_estudiante'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si la pregunata se responde con un un numero(cerrada) o con un texto(abierta)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'preguntas_test', @level2type=N'COLUMN',@level2name=N'tipo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'indica si el tipo de pregunta es abierta o cerrada(1,2,3,4..)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'preguntas_test'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificacion de quien responde la pregunta ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'respuestas', @level2type=N'COLUMN',@level2name=N'id_persona'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Para cuanodo la pregunta es cerrada es decir cuano se responde con un numero' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'respuestas', @level2type=N'COLUMN',@level2name=N'punto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Este campo se llena cuano el tipo de pregunta es abierto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'respuestas', @level2type=N'COLUMN',@level2name=N'observacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'respuestas', @level2type=N'COLUMN',@level2name=N'id_curso'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test', @level2type=N'COLUMN',@level2name=N'fecha_fin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test', @level2type=N'COLUMN',@level2name=N'fecha_inicio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'que tipo de usuario respondera el test. docente o estudiante' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test', @level2type=N'COLUMN',@level2name=N'ferfil_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si el test esta cerrado o esta abiertoto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test', @level2type=N'COLUMN',@level2name=N'estado_cierre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Test', @level2type=N'COLUMN',@level2name=N'periodo'
GO
