@model WebSima.Models.grupos_acargo


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_monitor.cshtml";
    //List<String> materiasMonitor = ViewBag.materiasMonitor;
    List<List<WebSima.Models.WebApi.EstudianteMateria>> datos = ViewBag.datos;
    List<WebSima.Models.grupos_acargo> grupos_acargo = ViewBag.grupos_acargo;
}
<ol class="breadcrumb">
    <li class="breadcrumb-item ">Home</li>
    <li class="breadcrumb-item active">Congigurar</li>
    <li class="breadcrumb-item active">Detalles</li>
</ol>

<div class="row">
    @foreach (List<WebSima.Models.WebApi.EstudianteMateria> dato in datos)
    {
        <div class="col-md-12">
            @using (Html.BeginForm("SetGrupos", "Grupos", FormMethod.Post, new { id = "fDatosGrupos", @class = "grupos" }))
            {

                //filtramos los progrogramas(contaduria,admnistracion,etc)
                List<String> programas = dato.Select(o => o.nom_unidad).Distinct().ToList();
                List<String> materia = dato.Select(o => o.nom_materia).Distinct().ToList();

                <div class="box box-success box-solid">
                    <input name="materia" id="materia" type="hidden" value='@materia.ElementAt(0)' />
                    <div class="box-header with-border">
                        <h3 class="box-title">@materia.ElementAt(0)</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @foreach (var programa in programas)
                            {
                                // filtramos los grupos de cada programa
                                List<String> grupos = (from s in dato
                                                       where (s.nom_unidad == programa)

                                                       select s).ToList().Select(oo => oo.num_grupo).Distinct().ToList().OrderBy(x => x).ToList();
                                <h4>@programa</h4>
                                foreach (var grupo in grupos)
                                {

                                    <label class="">
                                        GRUPO-@grupo
                                        <input type="checkbox" name="idGrupo" value="@programa|@grupo">
                                    </label>
                                    <br />
                                }

                            }
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
    <!-- /.col -->
            }

        </div>
    }
</div>


<script>

    $(".grupos").submit(function (e) {
        e.preventDefault();

        var datos = $(this).serialize();
        console.log(datos);
        var btn = $(".enviar");
        btn.val("Guardando...");
        btn.prop("disabled", true);

        $.ajax({
            data: datos,
            url: $(this).attr('action'),
            dataType: "json",
            type: 'post',
           
            beforeSend: function () { },
            success: function (response) {
                // se activa el boton enviar
                btn.val("Guardar");
                btn.prop("disabled", false);


            }, error: function (error) {
                alert("Error");
                btn.val("Guardar");
                btn.prop("disabled", false);
            }
        });

    });
</script>



