@{
    ViewBag.Title = "create_monitor";
    List< WebSima.Models.WebApi.HorarioEstudiante> horarioEstudiantes=  ViewBag.horarios ;
    Layout = "~/Views/Shared/_Layout_monitor.cshtml"; 
}

<div class="box box-success">
    <div class="box-header with-border">
        <div class="box-header with-border ">

            @*@foreach(WebSima.Models.WebApi.HorarioEstudiante horario in horarioEstudiantes)*@
            @*{
                <div>
                    @horario.fecha_clase;


                </div>
                
            }*@
            <div class=" box-body " style="border: 1px solid #e0e0e0; ">
                <div class="col-sm-12 col-12  col-lg-6 ">

                    <label>ASIGNATURAS:*</label>

                    <select required class="form-control " id="peorido" name="periodo"></select>
                    <br />
                    <button type="submit" class="btn btn-success">Generar Horario</button>
                </div>
                <div class="col-sm-12 col-12  col-lg-6 ">

                    <label>PROGRAMAS:*</label>


                    <select required class="form-control " id="peorido" name="periodo"></select>


                </div>




            </div>


        </div>

        <div class="box-header with-border ">

            <div class=" box-body  " style="border: 1px solid #e0e0e0; ">
                <div class="col-sm-12 table-responsive">
                    <table class="table tablaPaginacion table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>HORAS</th>
                                <th>LUNES</th>
                                <th>MARTES</th>
                                <th>MIERCOLES</th>
                                <th>JUEVES</th>
                                <th>VIERNES</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>

                                <td><h6>8:00 AM</h6></td>






                            </tr>
                            <tr>

                                <td><h6>9:00 AM</h6></td>


                            </tr>
                            <tr>

                                <td><h6>10:00 AM</h6></td>


                            </tr>
                            <tr>

                                <td><h6>11:00 AM</h6></td>


                            </tr>
                            <tr>

                                <td><h6>12:00 PM</h6></td>


                            </tr>
                            <tr>

                                <td><h6>1:00 PM</h6></td>


                            </tr>
                            <tr>

                                <td><h6>2:00 PM</h6></td>


                            </tr>
                            <tr>

                                <td><h6>3:00 PM</h6></td>


                            </tr>
                            <tr>

                                <td><h6>4:00 PM</h6></td>

                            </tr>
                            <tr>

                                <td><h6>5:00 PM</h6></td>


                            </tr>
                            <tr>

                                <td><h6>6:00 PM</h6></td>

                            </tr>

                        </tbody>
                    </table>

                </div>

                <button type="submit" class="btn btn-success">Guardar Horario</button>



            </div>
        </div>

    </div>
</div>
