@{
    ViewBag.Title = "select_administrador";
}

<div class="box box-success">
    <div class="box-header with-border ">
        <div class="box-header with-border ">
            <div class=" box-body " style="border: 1px solid #e0e0e0; ">
                <div class="col-sm-12 col-12  col-lg-6 ">

                    <label> IDENTIFICACION DEL MONITOR:*</label>

                    <select required class="form-control " id="peorido" name="periodo"></select>
                    <br />

                </div>

            </div>
            <br />
            <button type="submit" class="btn btn-success">Generar Horario</button>
        </div>
    </div>
</div>
