@{
    ViewBag.Title = "Test_aprobacion";
}



    <div class="box box-body">
    <center>
        <div >
        <h3 style="background-color: #2C3E50; "><font color="white"><i class="fa fa-file-text"></i> Test de aprobacion</font></h3>
         </div>

    </center>
    <div>
        <div class="row">
            <div class="col-sm-9">

                <div class="box box-success">

                    <input type="text" name="description" class="form-control">
                    

                </div>
                
                
                </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-success"><i class="fa  fa-question-circle"></i>Agregar Pregunta </button>
            </div>
        </div>
    </div>

</div>



