@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-12 ">

        <div>
            <label>Pregunta Test</label>
            <textarea class="form-control " rows="3" placeholder="Pregunta Test..." style="resize: none;">

            </textarea>
            
        </div>
        

    </div>
    <div class="col-sm-12 ">
        @*<input type="submit" class="btn btn-success " />*@
        <button class="btn btn btn-success"><i class="fa fa-plus"></i>Agregar Pregunta </button>
    </div>



</div>