@{
    ViewBag.Title = "Test_aprobacion";
}


            <div class="col-sm-12 ">

                <div>
                    <label>Pregunta Test</label>
                    <textarea class="form-control " rows="2" placeholder="Pregunta Test..." style="resize: none;"></textarea>

                </div>

            </div>
            <div class="col-sm-12 ">
                <button type="submit" class="btn btn-success"><i class="fa fa-plus" ></i>Agregar Pregunta </button>
            </div>
       
    


