@{
    ViewBag.Title = "Historial_test";
}

<div>
    <ol class="breadcrumb " style="background-color: #ffffff">
        <li class="breadcrumb-item ">Historia Test</li>
        <li class="breadcrumb-item active">Test</li>

    </ol>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box box-success">

            <div class="box-body ">

                <!-- /input-group -->
                <div class="form-group panelBorder">
                    <h3 class="margin">Estado <code>Test</code></h3>
                    <div class="input-group input-group-sm col-sm-4">

                        <select class="form-control">
                            <option selected="selected">Abiertos</option>
                            <option>Cerrado</option>
                        </select>

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-flat">Consultar</button>
                        </span>
                    </div>
                </div>
                <!-- /input-group -->
                <div class="box-header with-border panelBorder">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-header">
                                <h3 class="box-title">Opcional- para colocar Test abierto o Cerrado</h3>

                                <div class=" pull-right">
                                    <button type="button" class="btn btn-success"><i class="fa fa-search"></i> Ver Evaluación</button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th>User</th>
                                        <th>Date</th>
                                        <th>Reason</th>
                                    </tr>
                                    <tr>
                                        <td>183304343434</td>
                                        <td>John Doe</td>
                                        <td>11-7-2014</td>
                                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                        <td>219030430434</td>
                                        <td>Alexander Pierce</td>
                                        <td>11-7-2014</td>
                                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>

                                </table>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
