@{
    ViewBag.Title = "Listar";
}

<div class="table-responsive">
    <table class="tablaPaginacion table table-hover table-sm table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    Nombre Pregunta
                </th>

                <th>Opciones</th>
            </tr>
        </thead>

        <tr>

            <td>
                Ejemplo
            </td>


            <td class="text-right">
                <button class="btn btn-default fa fa-eye"></button>
                <a class="btn btn-default fa fa-eye" title="Detalles" />
                <button class="btn btn-default fa  fa-pencil-square-o editar" data-toggle="modal" data-target="#modal-editar-curso"></button>
            </td>
        </tr>
    </table>
</div>