@{
    ViewBag.Title = "Reporte_asistencia";
}

<div>
    <ol class="breadcrumb " style="background-color: #ffffff">
        <li class="breadcrumb-item ">Home</li>
        <li class="breadcrumb-item active">Informe</li>

    </ol>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box box-success">

            <div class="box-body">

                <!-- /input-group -->
                <h3 class="margin">Asignaturas</h3>
                <div class="input-group input-group-sm col-sm-6">

                    <select class="form-control select2 ">
                        <option selected="selected">Seleccionar</option>
                        <option></option>
                       
                    </select>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-flat">Buscar</button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>

        </div>
        
        <div class="box box-body">
            

            <div class="box-body ">
                <!-- segundo despligue -->
                <div class=" box-body " style="border: 1px solid #e0e0e0; ">
                            
                              <div class="box-tools pull-right">
                            
                            
                        </div>
                    
                    
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <th>ID</th>
                                    <th>NOMBRE</th>
                                    <th>ASISTENCIA</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                            <a href="#" class="btn btn-success  fa-external-link-square"> Exportar</a>
                        </div>
                    
                </div>

            </div>
        </div>

    </div>
</div>



