@{
    ViewBag.Title = "configuracion_perfil";
}

<ol class="breadcrumb ">
    <li class="breadcrumb-item ">Perfil</li>
    <li class="breadcrumb-item active">Configuracion</li>

</ol>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header with-border panelBorder">
                <div class="box-header with-border ">
                    <div class=" box-body panelBorder">
                        <div class="box-header with-border">
                            <h3 class="box-title"><strong> Actualizar Contraseña</strong> </h3>
                        </div>
                        <div class="col-sm-12 col-12  col-lg-4 ">

                            <div class="form-group">
                                <label>Contraseña Antigua</label>
                                <input type="password" name="contraseña_antigua" value="" id="contraseña_antigua" class="form-control"/>
                            </div>
                            <br />
                        </div>
                        <div class="col-sm-12 col-12  col-lg-4 ">

                            <div class="form-group">
                                <label>Nueva Contraseña</label>
                                <input type="password" name="contraseña_nueva" value="" id="contraseña_nueva" class="form-control" />
                            </div>
                            <br />
                        </div>
                        <div class="col-sm-12 col-12  col-lg-4 ">

                            <div class="form-group">
                                <label>Confirmar Contraseña</label>
                                <input type="password" name="contraseña_confirmar" value="" id="contraseña_confirmar" class="form-control" />
                            </div>
                            <br />
                        </div>
                    </div>
                    <br />
                  
                    <button type="submit" class="btn btn-success">Actualizar Datos</button>
                </div>
            </div>
        </div>
    </div>
</div>
